/*===============================================
	Start Donate css
======================*/

:root {
  --tier-1-color: #7f9558;
  --tier-2-color: #d197ae;
}

/*================ Header ===================*/
.gi-page-header {
  /* background: url(../../assets/images/about/bg-page-header.jpg) no-repeat; */
  /* background: url(../../assets/images/patterns/paper.jpg) no-repeat; */
  /* background-size: cover; */
  /* background-position: 50% 50%; */
  height: 55vh;
  background-color: gray;
  display: flex;
  align-items: center;
}

.gi-page-header .container {
  display: flex;
  justify-content: center;
}

.gi-page-header .row h2 {
  color: #fff;
  line-height: 23px;
}

/*================ Tier Container ===================*/

.donation-section-new {
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

/*======== Donation Boxes ========*/

.donation-container {
  height: 70%;
  width: 100%;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.donation-box {
  background-color: blueviolet;
  height: 80%;
  width: 45%;
  border-radius: 30px;
  padding: 3rem 2rem 4rem 2rem;
}

/*=== Body Content ===*/

.donation-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.donation-body > * {
  flex: 1 0 33%;
}

.donation-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*=== Text Styling ===*/

.donation-body h2 {
  color: #fff;
  line-height: 23px;
  font-size: 28px;
}

.donation-body p {
  color: #fff;
  font-size: 20px;
}

.donation-body ul {
  color: #fff;
  font-size: 20px;
  line-height: normal;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.donation-body li {
  list-style-type: disc;
}

/*=== Button ===*/
.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: auto;
}

.button-set-price {
  width: 15%;
  height: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  font-weight: normal;
  font-size: 24px;
  text-transform: none;
  transition: all 300ms ease-in-out;
}

.button-custom {
  width: 40%;
  padding: 10px 0;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  font-weight: normal;
  font-size: 24px;
  text-transform: none;
  transition: all 300ms ease-in-out;
}

/*======================
	End Donate css
===============================================*/
