:root {
  --tier-1-color: #7f9558;
  --tier-2-color: #d197ae;
  --tier-3-color: #85a8af;
  --tier-4-color: #b795ba;
}

/*===============================================
	Start Get Involved css
======================*/

/*================ Header ===================*/
.gi-page-header {
  /* background: url(../../assets/images/about/bg-page-header.jpg) no-repeat; */
  /* background: url(../../assets/images/patterns/paper.jpg) no-repeat; */
  /* background-size: cover; */
  /* background-position: 50% 50%; */
  height: 55vh;
  background-color: gray;
  display: flex;
  align-items: center;
}

.gi-page-header .container {
  display: flex;
  justify-content: center;
}

.gi-page-header .row h2 {
  color: #fff;
  line-height: 23px;
}

/*================ Tier Container ===================*/

.tier-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

/*======== Tier Header ========*/

.tier-header {
  flex: 1 1 auto;
  padding: 1rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tier-header .row p {
  line-height: 15px;
  font-size: large;
  font-weight: 500;
  color: black;
}

/*======== Tier ========*/

.tier {
  flex: 5 5 auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.tier .container {
  height: 100%;
  /* width: 50%; */
  display: flex;
  justify-content: flex-start;
  /* align-items: flex-start; */
}

/*=== Rotated Text ===*/

.text-rotate-container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-self: stretch;
}

.text-rotate {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding-top: 4.2rem;
  font-size: 25px;
  color: #fff;
  font-weight: 600;
}

/*=== Tier Number ===*/

.big-number-container {
  height: 100%;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.big-number {
  line-height: 1;
  font-size: 180px;
  color: #fff;
  font-weight: 700;
}

/*=== Tier Body ===*/

.tier-body {
  color: #fff;
  height: 100%;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tier-body h2 {
  color: #fff;
  font-size: 28px;
}

.tier-body p {
  color: #fff;
  font-size: 20px;
}

.tier-body ul {
  color: #fff;
  font-size: 20px;
  padding-left: 0.75rem;
}

.tier-body li {
  list-style-type: disc;
  list-style-position: inside;
}

li span {
  position: relative;
  left: -5px;
}

/*=== Mailing List ===*/

.tier-body .styled-input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 16px;
  background-color: transparent;
  padding: 5px 0 5px 10px;
  color: white;
}

.tier-body .styled-input:focus {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 16px;
  background-color: transparent;
  color: white;
}

.tier-body .styled-input::placeholder {
  color: white;
}

/*=== Button ===*/
.tier-body button {
  border: 2px solid white;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 3px;
  background-color: transparent;
  color: white;
}

/*======================
	End Get Involved css
===============================================*/
